/* here you can put your own css to customize and override the theme */

/* rounded corner table*/
.table-icon-option {
  display:inline-block;
  width: 25px;
}

.table {
    border-collapse:separate;
    border:solid #F0F6FF 1px;
    border-radius:.50rem!important;
    -moz-border-radius:.50rem!important;
    -webkit-border-radius: .50rem!important;
    -moz-border-radius: .50rem!important;
}
.table > thead > tr > th {
  border-bottom: 0;
}
.table td, th {
    border-left:solid #F0F6FF 1px;
    border-top:solid #F0F6FF 1px;
    color: #173570;
}

.table th {
    border-bottom: none;
    border: none;
}

td:first-child, th:first-child {
     border-left: none;
}



/*
this is for background in gray, but it's too gray for me

.page-container-bg-solid .page-content {
    background: #E5E5E5;
}
*/

.panel.panel-container {
  background-color: white;
  border: 1px solid #F0F6FF;
  box-sizing: border-box;
  box-shadow: 0px 2px 24px rgba(40, 112, 152, 0.08);
  -webkit-border-radius: 1.25rem!important;
  -moz-border-radius: 1.25rem!important;
  border-radius: 1.25rem!important;

}

.panel.panel-container .panel-body.bordered {
  border-top: 1px solid #F0F6FF;
}

.no-bottom-border {
  border-bottom: 0px;
}

/*forms*/
.form-control::-webkit-input-placeholder { color: #173570; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #173570; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #173570; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #173570; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #173570; }  /* Microsoft Edge */


.input-icon > i {
  position: absolute;
  margin: 10px 2px 4px 10px;
  width: 20px;
  z-index: 3;
}

.input-icon > .form-control {
  padding-left: 36px;
}

.form-control {
  border: 1px solid #F0F6FF;
  -webkit-border-radius: 1.25rem!important;
  -moz-border-radius: 1.25rem!important;
  border-radius: 1.25rem!important;
  font-size: 14px;
  color: #173570;

}

.btn-primary:hover{
  background-color: #173570;

}
.btn-primary
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    background-color: #0F3EB6;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    border-radius: 4px!important;
}

/*input with right side selector*/
.input-with-right-side-selector {
    border: 1px solid #F0F6FF;
    box-sizing: border-box;
    border-radius:1.25rem!important;
    -moz-border-radius:1.25rem!important;
    -webkit-border-radius: 1.25rem!important;
    -moz-border-radius: 1.25rem!important;

}

.input-with-right-side-selector .input-icon input[type="text"]{
   border: 0;
   max-width: 100px;
}

.input-with-right-side-selector .single-selector{

  background-color: white;
  border: 0;

}

.vertical-line {
  border-left: 1px solid #F0F6FF;
}


/*form checkbox*/
.mt-checkbox {
  padding-left: 25px;
}
.mt-checkbox > input:not([disabled]):checked ~ span, .mt-checkbox > input:checked ~ span {
  background-color: #0F3EB6;
  border: 1px solid #F0F6FF;
  -webkit-border-radius: 0.25rem!important;
  -moz-border-radius: 0.25rem!important;
  border-radius: 0.25rem!important;
}

.mt-checkbox:hover > input:not([disabled]):checked ~ span, .mt-checkbox > input:checked ~ span {
  background-color: #0F3EB6;
  border: 1px solid #F0F6FF;
  -webkit-border-radius: 0.25rem!important;
  -moz-border-radius: 0.25rem!important;
  border-radius: 0.25rem!important;
}

.mt-checkbox:hover > input:not([disabled]) ~ span, .mt-checkbox > input:focus ~ span {
    background: white;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mt-checkbox > span::after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.mt-checkbox > span {
    border: 1px solid transparent;
    background: white;
}

.mt-checkbox > span {
  border: 1px solid #F0F6FF;
  -webkit-border-radius: 0.25rem!important;
  -moz-border-radius: 0.25rem!important;
  border-radius: 0.25rem!important;
}
.mt-checkbox input {
  background-color: red;
}
.mt-checkbox {
  padding-right: 20px;
  min-width: 100px;
}

/*button*/

.btn.icon-button > i {
  float:left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.icon-button{
  background-color: white;
  border: 1px solid #F0F6FF;
  -webkit-border-radius: 0.25rem!important;
  -moz-border-radius: 0.25rem!important;
  border-radius: 0.25rem!important;
}

/* breadcrumb */
.page-content-white .page-bar .page-toolbar, .page-container-bg-solid .page-bar .page-toolbar {
  padding-top: 10px;
}
.page-content-white .page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #173570;
  opacity: 0.5;

}

.page-bar .page-breadcrumb > li > span.darkblue {
  color: #173570;
  opacity: 1;
}

/**/
.space-16 {
  display: block;
  height: 16px;
}


.selector-down {
  background-image: url(../images/selector-down.png);
  background-repeat: no-repeat;
  background-position: left 5px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-top10 {
  margin-top: 10px;
}

.separator-line {
  border-bottom: 1px solid #F0F6FF;
  padding-bottom: 32px;
}

/* tags */
.bootstrap-tagsinput .tag {
  color: #173570;
  font-weight: 600;
}
.label {
}
.label-info {
  background-color: #F0F6FF;
  -webkit-border-radius: 1.25rem!important;
  -moz-border-radius: 1.25rem!important;
  border-radius: 1.25rem!important;
}

/* scan page */
.modal-dialog {
  width: 460px;
}

.modal-content {
  border: 1px solid #F0F6FF;
  -webkit-border-radius: 8px!important;
  -moz-border-radius: 8px!important;
  border-radius: 8px!important;
}

.scanning_message {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #173570;
}

.modal-header .close{
  background-image: url(../images/close.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  opacity: 1;
}

.scan-barcode {
  -webkit-border-radius: 8px!important;
  -moz-border-radius: 8px!important;
  border-radius: 8px!important;
}


/*font awesome*/

.bootstrap-select .caret::before {
  background-image: url(../images/selector-down.png) !important;
  background-repeat: no-repeat;
  width: 12px;
  height: 9px;
  content: "";
}
.bootstrap-select .caret::before
