/*product profile*/

.barcode-number {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.08em;
  /* Gray 1 */
  color: #333333;
}

/* product panel detail info*/
.product_name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  padding-top: 32px;
  padding-bottom: 28px;
  display: block;

  /* 3 */
  color: #173570;
}

.panel.panel-indicator {
  background-color: #F9FBFF;
  border: 1px solid #F0F6FF;
  box-sizing: border-box;
  box-shadow: 0px 2px 24px rgba(40, 112, 152, 0.08);
  -webkit-border-radius: 1.25rem!important;
  -moz-border-radius: 1.25rem!important;
  border-radius: 1.25rem!important;
  width: 95%;
}

.indicator-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* 1 */
  color: #0F3EB6;
}

 .indicator-number {
  font-family: Open Sans;
  font-style: normal;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  color: #173570;
 }

.panel.panel-product-data {
  border: 1px solid #F0F6FF;
  box-sizing: border-box;
  box-shadow: 0px 2px 24px rgba(40, 112, 152, 0.08);
  -webkit-border-radius: 1.25rem!important;
  -moz-border-radius: 1.25rem!important;
  border-radius: 1.25rem!important;
}

.custom-column
{
  display: inline-block;
  float: left;
  width: 20%;
}

.custom-column.last .panel-indicator{
  float: right;
}

.product-info-block {
  /* 4 */
  padding-bottom: 24px;
  border-bottom: 1px solid #F0F6FF;
  margin-bottom: 20px;
}

.product-info-block .title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  /* 3 */
  color: #173570;
}

.product-info-block  .value {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: block;
  margin-top: 8px;
  /* 3 */
  color: #173570;
}

.payment-option {
  display: inline-block;
  background-image: url(../images/check.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-top: 9px;
  padding-left: 22px;
  padding-right: 13px;
  height: 16px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* 3 */
  color: #173570;

}

.product-tags {
    margin-top: 16px;
    padding: 0px;
}

.product-tags li {
  display: inline-block;
  height: 28px;

  background: #F0F6FF;
  box-sizing: border-box;
  box-shadow: 0px 2px 24px rgba(40, 112, 152, 0.08);
  -webkit-border-radius: 1.25rem!important;
  -moz-border-radius: 1.25rem!important;
  border-radius: 1.25rem!important;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  padding: 6px 14px 6px 14px;
  margin: 0;
  /* 3 */
  color: #173570;

}


.product-data-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: block;
  /* 1 */
  color: #0F3EB6;
  padding-left: 25px;
}

.product-data-value {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #173570;

}
.icon-weight {
    background-image: url(../images/weight.png);
    background-repeat: no-repeat;
    background-position: 5px;
}

.icon-shipping {
  background-image: url(../images/shipping.png);
  background-repeat: no-repeat;
  background-position: left;
}

.icon-length {
  background-image: url(../images/length.png);
  background-repeat: no-repeat;
  background-position: left;
}

.icon-width {
  background-image: url(../images/width.png);
  background-repeat: no-repeat;
  background-position: left;
}


.icon-height {
  background-image: url(../images/height.png);
  background-repeat: no-repeat;
  background-position: left;
}

/* table head names*/
.table thead tr th {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #173570;
}

.table tr td {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #173570;
}

.table tr td a {
  text-decoration: none;
}

/* carousel*/
.carousel {
  margin-bottom: 0px;
}

.carousel-control.left {
  background-image: none;
  filter: none;
}

.carousel-control.right {
  background-image: none;
  filter: none;

}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel .item {
  border-bottom: 1px solid #F0F6FF;
  padding-bottom: 15px;
}
.carousel-inner > .item > img {
  margin: auto;
}

.carousel-indicators {
  position: relative;
  margin-top: 40px;
  margin-bottom: 0px;
  z-index: 15;
  width: 60%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  background-color: #F0F6FF;
  -webkit-border-radius: 1rem!important;
  -moz-border-radius: 1rem!important;
  border-radius: 1rem!important;
}

.carousel-indicators .active{
  border: 0;
  background-color: #0F3EB6;
  -webkit-border-radius: 1rem!important;
  -moz-border-radius: 1rem!important;
  border-radius: 1rem!important;
}

#myCarousel {
  margin-bottom: 0px;
}
