.icon-edit{
  background-image: url(../images/pencil.png);
  width: 16px;
  height: 16px;
}

.icon-newcheck{
  background-image: url(../images/check.png);
  width: 16px;
  height: 16px;
}

.icon-search{
  background-image: url(../images/search.png);
  width: 16px;

  height: 16px;
}

.add-option{
  background-image: url(../images/plus.png);
  background-position: 0px;
  background-size: 19px 19px;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 10px;
  display: inline-block;
  padding-left: 28px;
}
a.add-option:hover  {color:#0F3EB6; text-decoration: none;}

.rounded-border {
  border: 3px solid #F0F6FF;
  box-sizing: border-box;
  -webkit-border-radius: .50rem!important;
  -moz-border-radius: .50rem!important;
  border-radius: .50rem!important;

}

.search-button {
  position: absolute;
  top: 17px;
  left: 20px;
  background-color: white;
  border: none;
}

.search-products-input {
  border: 1px solid #F0F6FF;
  box-sizing: border-box;
  -webkit-border-radius: .50rem!important;
  -moz-border-radius: .50rem!important;
  border-radius: .50rem!important;
  padding-left: 35px;
  width: 80%;
  height: 50px;
  color: #173570;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #173570;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #173570;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #173570;
}


/*product groups*/
.table-hover > tbody > tr:hover, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active
{
  background-color: #F0F6FF;
  color: #173570;
}

.product-group {
  background-image: url(../images/group.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20px;
}
